[[source]]

name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

aiohttp = "*"
cchardet = "*"
"aiohttp-jinja2" = "*"
toml = "*"
aiohttp-cors = "*"


[requires]

python_version = "3.6"


[dev-packages]

